@import "base";


.account_layers{
	padding: torem(20);
	font-size: torem(28);
	text-align: center;
	b{
		font-size: torem(30);
	}
	span{
		display: block;
		font-size: torem(28);
		line-height: torem(40);
		margin-top: torem(15);
		text-align: left;
	}
	a{
		color: $green;
		font-size: torem(32);
		display: inline-block;
		margin: torem(20) 0;
	}
	em{
		font-size: torem(26);
		margin-left: torem(40);
		font-style: normal;
	}
	p{
		line-height: torem(50);
	}
	input{
		height: torem(70);
		border:1px solid #ccc;
		width: torem(400);
		margin: torem(30) 0 torem(10) 0;
		padding-left: torem(10);
		font-size:torem(28);
	}
}
.opacity_btn{
	position: absolute;
	left: 0;
	top:0;
	opacity: 0;
}
.openDemo_layers{
	text-align: center;
	padding-bottom: torem(25);
	div{
		width: torem(650);
		height: torem(450);
		margin: torem(10) torem(25);
		background: url("../img/car.jpg") no-repeat;
		background-size: 100%;
		border:1px solid #ccc;
	}
	div.img_user{
		background-image:url("../img/user.jpg");
	}
	p{
		font-size:torem(28);
		line-height: torem(100);
	}
	span{
		font-size:torem(32);
		color: #4baa2c;
	}
}
.login_layers{
	width: torem(650);
	p{
		color: $green;
		font-size: torem(32);
		display: inline-block;
		margin: torem(20) 0;
		line-height: torem(40);
	}
}
.agreement{
	background: #fff;
	padding: torem(50);
	margin: torem(30) 0;
	font-size: torem(32);
	line-height: torem(50);
}