@import "base";


.account_layers{
	padding: torem(20);
	font-size: torem(28);
	text-align: center;
	a{
		color: $green;
		font-size: torem(32);
		display: inline-block;
		margin: torem(20) 0;
	}
	p{
		line-height: torem(50);
	}
}
.opacity_btn{
	position: absolute;
	left: 0;
	top:0;
	opacity: 0;
}
.agreement{
	background: #fff;
	padding: torem(50);
	margin: torem(30) 0;
	font-size: torem(32);
	line-height: torem(50);
}