@import "util";
@import "date";


*{
	margin : 0;
	padding: 0;
}
table, td, th { border-collapse:collapse; }
ol,ul, li { list-style:none; }
h1, h2, h3, h4 { font-size:100%; }
img, input, textarea {font-family: "\5FAE\8F6F\96C5\9ED1",'Helvetica Neue', Helvetica, STHeiTi, sans-serif; vertical-align: middle; border:0; -webkit-tap-highlight-color: rgba(0,0,0,0);}
img { width: 100%;}
a { text-decoration:none; color:#999; outline:none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-touch-callout: none;}
a:hover { text-decoration:none; }
body { font-family: "\5FAE\8F6F\96C5\9ED1",'Helvetica Neue', Helvetica, STHeiTi, sans-serif;
	color:#333; }

html {overflow-x: hidden;-webkit-user-select: none;}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button,input,textarea,select{outline: 0 none; border-radius: 0; -webkit-appearance: none !important; margin: 0; }
* {-webkit-box-sizing: border-box; box-sizing: border-box;}
*:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box;}
body{
	background: #eeeff3;
	color: #333;
	padding-bottom: torem(100);
}



.tips{
	position: fixed;
	top:50%;
	left: 50%;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);
	background: #000;
	opacity: 0.7;
	color: #fff;
	max-width: 90%;
	text-align: center;
	line-height: torem(44);
	font-size: torem(32);
	padding: torem(20);
	border-radius: torem(10);
}



