@import "base";




.menu{
	position: fixed;
	bottom:0;
	height: torem(100);
	line-height: torem(100);
	width: 100%;
	background: #d5d5d5;
	border-top: 1px solid #cccccc;
	a{
		width: 32%;
		display: inline-block;
		text-align: center;
		color: #000;
	}
	a.hover{
		background: #fff;
	}
}







/*Passenger我是乘客*/

$white:#fff;
$silde_l:left;
$silde_r:right;
$Percen:100%;
$gray:#333;
$green:#4baa2c;


.left{
	float:$silde_l;
}
.right{
	float:$silde_r;
}
.clear_fix:after{
	display: block;
	height: 0;
	content: '';
	clear: both;
}

input::-webkit-input-placeholder {
	color: $gray !important;
}
.Passenger_box{
	width:torem(706);margin:0 auto;
}
.Passenger_seach{
	width:torem(706);background:$white;border-radius:torem(18);margin-top:torem(21);height:torem(362);
}
.check{
	width:$Percen;height:torem(229);
	dt{
		width:torem(120);height:$Percen;float:$silde_l;
		img{
			width:torem(60);height:torem(68);margin:torem(88) 0 0 torem(30);
		}
	}
	dd{
		width:torem(565);height:$Percen;float:$silde_l;
		input{
			width: 100%;
			height:torem(114);
			line-height: torem(114);
			display: block;
			background: url("../img/icon_2.png") no-repeat right center;
			background-size: torem(18);
			font-size: torem(32);
		}
		input:first-child{
			border-bottom:torem(1) solid #ccc;
		}
		input::-webkit-input-placeholder{
			color:#999;
		}
		input::-moz-placeholder{
			color:#999;
		}
		input::-moz-placeholder{ /* Mozilla Firefox 19+ */
			color:#999;
		}
		input:-ms-input-placeholder{ /* Internet Explorer 10+ */
			color: #999;
		}
		p{
			width:$Percen;height:torem(114);position:relative;
		}
	}
}
.edge{

}
.icon{
	width:torem(18);height:torem(34);position:absolute;right:torem(0);top:torem(40);
}
.line{
	width:torem(706);height:torem(26);
}
.Pass_date{
	width:torem(566);height:torem(60);float:$silde_r;margin-right:torem(22);margin-top:torem(10);
	position: relative;
}
.Pass_date input{
	width:torem(400);
	height:$Percen;
	line-height:torem(60);
	font-size:torem(30);
	color:$gray;
}
.Pass_date img{
	width:torem(40);height:torem(44);position:absolute;right:0;top:torem(10);
}
.button{
	display: block;
	width:torem(706);
	height:torem(100);
	line-height: torem(100);
	margin-top:torem(20);
	background:$green;
	border-radius:torem(20);
	color:$white;
	font-size:torem(32);
	text-align: center;
}


/*日历样式*/
.my_calendar{ display:none; position:absolute; width:210px; border:1px solid black; top:0; left:0;  overflow:hidden; background:#fff;}

.my_calendar span{display:block; width:100%; height:20px; line-height:20px; text-align:center;font-weight:bold;}
.my_calendar ol li{float:left; width:30px; height:30px; line-height:30px; text-align:center; }
.my_calendar ol li.week_end{color:#F63;}
.my_calendar ul li{width:30px; height:30px; line-height:30px; text-align:center; float:left;}
.my_calendar ul li.past{color:#ccc;}
.my_calendar ul li.today{color:#F63; font-size:12px;}
.my_calendar .prev,.my_calendar .next{position:absolute; top:4px; text-decoration:none; color:#000;}
.my_calendar .prev{left:4px;}
.my_calendar .next{right:4px;}


/*Passenger乘客发布信息*/

.FindCar_box{
	width:torem(706);margin:0 auto;
}
.FindCar_seach{
	width:torem(706);background:$white;border-radius:torem(18);margin-top:torem(21);overflow:hidden;
	padding-bottom:torem(30);
}
.FindCar_Choice{
	width:torem(706);margin:torem(20) 0;
}

.FindCar_Choice input.newDate{
	width:torem(652);height:torem(80);border:1px solid #d5d5d5;border-radius:torem(10);padding:0 torem(10);
}
.Choice{
	width:torem(292);height:torem(76);border:1px solid #d5d5d5;border-radius:torem(8);
	padding:0 torem(10);
}
.FindCar_Choice li{
	width:torem(300);margin:0 torem(22);
}
.FindCar_Choice li.enter{
	width:torem(660);height:torem(80);float:$silde_l;margin-top:torem(30);
}
.FindCar_Choice input::-webkit-input-placeholder {
	color: #d5d5d5 !important;
}
.FindCar_te{
	width:torem(652);height:torem(180);border:torem(2) solid #d5d5d5;border-radius:torem(10);
	margin:torem(22) 0 0 torem(22);padding:torem(10);font-size:torem(28);
}




/*乘客搜索结果页面*/
.Results{
	width:torem(750);
}
.Results_title{
	width:$Percen;height:torem(90);background:#4baa2c;
	input{
		background: url("../img/icon_5.png");
		background-size: torem(40);
		float: right;
		width: torem(40);
		height:torem(44);
		margin:torem(22) torem(22) 0 0;
		color: #fff;
	}
}
.Results_title li{
	width:torem(167);height:$Percen;float:$silde_l;text-align:center;line-height:torem(90);color:#333;
	font-size:torem(28)
}
.Results_title li.current{
	color:$white;
}
.Results_title img{
	float:right;width:torem(40);height:torem(44);float:right;margin:torem(22) torem(22) 0 0;
}
.Results_main{
	width:torem(706);margin:0 auto;
}
.vehicles_list{
	width:torem(706);height:torem(200);background:$white;border-radius:torem(20);border:torem(2) solid #d5d5d5;
	margin-top:torem(20);position:relative;
}
.list_img_a{
	width:torem(14);height:torem(197);position:absolute;left:0;right:0;
}
.list_img_b{
	width:torem(28);height:torem(27);margin-top:torem(-5);
}
.vehicles_left{
	width:torem(163);height:torem(146);float:$silde_l;margin:torem(40) 0 0 torem(25);text-align:center;
}
.marginTop{
	margin-top:torem(50)
}
.vehicles_left p.seat{
	font-size:torem(30);color:#4baa2c;
}
.vehicles_left p span{
	margin-left:torem(11);
}
.vehicles_left p b{
	background:#eeeff3;font-weight:normal;
}
.vehicles_left p.price{
	font-size:torem(22);color:#ff0000;margin-top:torem(12);
}
.vehicles_left p.date{
	font-size:torem(16);color:#999;margin-top:torem(12);
}
.ve_line{
	width:torem(22);height:torem(200);position:absolute;top:-1px;left:torem(188);
}
.vehicles_center{
	width:torem(316);height:torem(146);float:$silde_l;margin:torem(40) torem(27) 0 torem(27);text-align:center;
	font-size:torem(30);color:#333;
	p{
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
.v_top{
	margin-top:torem(30);
}
.vehicles_center img{
	width:torem(29);height:torem(25);
}
.vehicles_center p.center{
	margin:torem(6) 0;
}
.vehicles_right{
	width:torem(139);height:torem(146);float:$silde_l; text-align: center;line-height:torem(126);
	color:#4baa2c;font-size:torem(36);margin-top:torem(40);
}
.Results_more{
	width:$Percen;height:torem(50);line-height:torem(50);font-size:torem(36);color:#b8b8b8;text-align:center;
	margin-top:torem(20);
}



/*司机详情页面*/
.Driver_details{
	width:torem(706);margin:torem(41) auto 0 auto;
}
.details_port{
	width:$Percen;height:torem(124);
}
.details_port span{
	width:torem(124);height:torem(124);border-radius:50%;border:torem(3) solid #fff;float:left;overflow:hidden;
	float:$silde_l;
}
.details_port span img{
	width:$Percen;height:$Percen;
}
.details_port dl{
	width:torem(395);height:torem(124);float:$silde_l;margin-left:torem(15);
}
.details_port dt{
	width:$Percen;height:torem(60);line-height:torem(60);font-size:torem(32);color:#4baa2c;
}
.details_port dd{
	line-height:torem(50);color:#666;
}
.details_port dd b{
	font-weight:normal;
}
.details_port dd b.mar{
	margin-left:torem(20);
}
.details_port dd b.pink{
	color:#de5145;
}
.details_port a.ck{

	height:torem(50);
	float:$silde_r;
	border:torem(2) solid #4baa2c;
	border-radius:torem(35);
	padding: 0 torem(20);
	text-align: center;line-height:torem(50);margin-top:torem(33);color:#4baa2c;
}





.details_infor{
	width:torem(706);height:torem(498);background:$white;border:torem(2) solid #d5d5d5;border-radius:torem(10);
	margin-top:torem(43);padding:torem(20);
}
.details_infor li.title{
	width:$Percen;height:torem(75);line-height:torem(55);border-bottom:torem(2) dashed #d5d5d5;
}
.details_infor li.title span{
	color:#4baa2c;font-size:torem(28);float:$silde_l;margin-right:torem(8);
}
.details_infor li.title b{
	float:$silde_r;font-weight:normal;margin-left:torem(15);color:#999;
}
.details_infor li.cho{
	width:$Percen;height:torem(178);border-bottom:torem(2) dashed #d5d5d5;padding-top:torem(30);
}
.details_infor li.cho span{
	height:$Percen;width:torem(25);float:$silde_l;
}
.details_infor li.cho span img{
	width:torem(25);height:torem(29);margin:torem(40) 0 0 torem(3);
}
.details_infor li.cho p{
	float:$silde_l;width:torem(600);margin-left:torem(33);font-size:torem(32);margin-bottom:torem(27);
}
.details_infor li.moeny{
	width:$Percen;height:torem(88);border-bottom:torem(2) dashed #d5d5d5;padding:torem(10) 0;line-height:torem(66);
}
.details_infor li.moeny img{
	width:torem(28);height:torem(27);margin:torem(-5) torem(18) 0 0;
}
.details_infor li.moeny span{
	font-size:torem(30);color:#4baa2c;float:$silde_l;
}
.details_infor li.moeny b{
	float:$silde_r;color:#de5246;font-size:torem(30);font-weight:normal;
}
.details_infor li.Explain{
	font-size:torem(27);color:#999;margin-top:torem(25);
}
.details_introduce{
	width:torem(706);margin-top:torem(20);font-size:torem(24);color:#999;text-align:center;
}


/*检测位置*/
.Testing_Location{
	width:torem(750);overflow:hidden;background:$white;
}
.Testing_title{
	width:torem(750);height:torem(116);background:#eee;padding:torem(28) 0 0 torem(22);
}
.Testing_title p{
	width:torem(627);height:torem(62);background:$white;border-radius:torem(8);font-size:torem(28);float:$silde_l;
}
.Testing_title p input.dq{
	width:torem(180);height:torem(30);border-right:torem(1) solid #cbcbcb;padding:0 torem(5);
	margin:torem(15) 0 0 torem(5);
}
.Testing_title p input.xq{
	width:torem(108);height:torem(30);border-right:torem(1) solid #cbcbcb;padding:0 torem(5);margin-top:torem(15);
}
.Testing_title p input.qn{
	width:torem(253);height:torem(30);padding:0 torem(5);margin-top:torem(15);
}
.Testing_title p img{
	width:torem(30);height:torem(30);margin:torem(15) 0 0 torem(15);
}
.Testing_title a{
	color:#999;font-size:torem(28);float:$silde_l;line-height:torem(60);margin-left:torem(15);
}
.Testing_title p input::-webkit-input-placeholder {
	color: #d5d5d5 !important;
}
.Testing_Location h3{
	width:$Percen;height:torem(90);line-height:torem(90);font-size:torem(32);padding-left:torem(25);
	color:#333;font-weight:normal;word-spacing:torem(8); letter-spacing:torem(1);
}
.Testing_Location h2{
	width:torem(712);height:torem(50);background:#eee;font-size:torem(22);color:#999;padding-left:torem(25);
	line-height:torem(50);
}
.Testing_Location .hot{
	width:$Percen;height:torem(125);
}
.Testing_Location .hot li{
	width:torem(146);height:torem(56);border:torem(2) solid #eee;float:$silde_l;border-radius:torem(5);
	text-align:center;line-height:torem(56);margin:torem(32) 0 0 torem(32);font-size:torem(32);color:#999;
}
.Testing_Location .hot li.this{
	border:torem(2) solid #4baa2c;color:#4baa2c;
}
.Testing_main{
	width:torem(712);overflow:hidden;
}
.Testing_main dt{
	width:$Percen;height:torem(48);background:#eee;line-height:torem(48);font-size:torem(22);color:#666;
	padding-left:torem(20);font-weight:bold;
}
.Testing_main dd{
	width:torem(690);height:torem(90);line-height:torem(90);font-size:torem(32);color:#333;
	border-bottom:torem(1) solid #c8c7cc;margin-left:torem(22);
}
.Fixed{
	width:torem(40);position:fixed;top:torem(139);right:0;
}
.Fixed li{
	width:$Percen;height:torem(35);line-height:torem(35);color:#4baa2c;font-size:torem(20);text-align:center;
}





	/*图片定位*/
.Location_to{
	position:relative;
}
.Location{
	position:absolute;right:torem(25);top:torem(17);
}
/*图片定大小*/
.img_a{
	width:torem(27);height:torem(42);
}
.img_b{
	width:torem(40);height:torem(44);
}
.img_c{
	width:torem(45);height:torem(42);
}
.img_d{
	width:torem(45);height:torem(45);
}





/*****个人中心样式******/
.aut_top{
	margin-top:torem(25);
	background:#fff;
	overflow: hidden;
}
.aut_top_icon{
	height:torem(40);
	padding-right:torem(29);
	text-align: right;
	margin-bottom: torem(5);
	margin-top:torem(25)
}
.aut_top_icon img{
	width:torem(40);
	height:torem(40);
	cursor: pointer;

}
.aut_tu{
	text-align: center;
	padding-bottom: torem(65);
}
.aut_tu img{
	width: torem(235);
	height:torem(235);
	margin-bottom: torem(25);
	cursor: pointer;
}
.aut_tu p{
	color:#333;
	font-size:torem(32);
	padding-bottom: torem(20);
}
.aut_tu img{
	border-radius: torem(236);
}
.aut_tu span{
	color:#6f7782;
	font-size: torem(28);
}
.aut_list_b{
	boder-top:1px solid #d5d5d5;
	height:torem(300);
	overflow: hidden;
	margin-bottom: torem(30);
}
.aut_list_b li{
	width:torem(249);
	height:torem(149);
	border-right:1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	text-align: center;
	float:left;
	font-size: torem(28);
}
.aut_list_b li img{
	display: block;
	margin:torem(32) auto 0 auto
}
.aut_list_b li a{
	color:#333 !important;
}
.aut_list_b li img{
	display: block;
}
.aut_list_b li.img1 img{
	width:torem(50);
	height:torem(46);
	margin:torem(33) auto torem(20) auto;
}
.aut_list_b li.img2 img{
	width:torem(38);
	height:torem(32);
	margin:torem(39) auto torem(28) auto
}
.aut_list_b li.img3 img{
	width:torem(40);
	height:torem(40);
	margin:torem(34) auto torem(25) auto;
	border-right: 0;
}
.aut_list_b li.img4 img{
	width:torem(50);
	height:torem(44);
	margin:torem(32) auto torem(22) auto
}
.aut_list_b li.img5 img{
	width:torem(47);
	height:torem(44);
	margin:torem(32) auto torem(22) auto
}
.aut_list_b li.img6 img{
	width:torem(41);
	height:torem(42);
	margin:torem(31) auto torem(25) auto;
	border-right:0;
}
.aut_button{
	width:torem(706);
	height:torem(90);
	margin:0 auto;
}
.aut_main .button{
	margin:0 auto;
}
/*****个人中心信息样式******/
.aut_xin{ margin: 0 auto}
.aut_span_one{
	font-size:torem(28);
	color:#6f7782;
	background: url("../img/icon_22.png") no-repeat right center;
	padding-right:torem(18);
	margin-right: torem(15);
}
.aut_span_three{
	font-size: torem(28);
	color:#6f7782;
}
.aut_xin_list1{
	background: #fafff8;
	border-top:1px solid #d2d9e1;
	padding-top:torem(19);
	overflow:hidden;
}
.aut_xin_list1 dl{
	overflow: hidden;
	border-bottom:1px solid #d2d9e1;
	padding-bottom: torem(19);
}
.aut_xin_list1 dd{
	float:left;
	padding-left:torem(22);
	padding-right:torem(20);
}
.aut_xin_list1 dd img{
	width: torem(220);
	height:torem(160);
}
.aut_xin_list1 dt{
	float:left;
}
.aut_xin_list1 dt h4{
	font-size:torem(28);
	color:#333;
	padding-bottom: torem(4);
}
.aut_xin_list1 dt span{
	font-size: torem(24);
	line-height:torem(42);
	color:#666;
}
.aut_xin_list1 ul{
	clear: both;
}
.aut_xin_list1 li{
	height:torem(60);
	line-height:torem(60);
	border-bottom:1px solid #d2d9e1;
	padding-left: torem(24);
	font-size:torem(28);
	color:#333;
}
/*****个人中心编辑样式******/
.aut_zl{
	height:torem(116);
	border-bottom: 1px solid #c8c7cc;
	text-align: center;
	background:#fff;
	padding-top:torem(18);
	margin-bottom: torem(29);
}
.aut_zls{
	width: torem(280);
	margin: 0 auto;
	height: torem(80);
}
.aut_zls li{
	width:torem(137);
	height:torem(78);
	border:1px solid #d5d5d5;
	float:left;
	font-size: torem(36);
	line-height:torem(78);
	color:#4baa2c;
}
.aut_zls li.curr{
	border-top-left-radius:torem(10);
	border-bottom-left-radius:torem(10);
	background:#4baa2c;
	color:#fff;
	border:1px solid #4baa2c;
}
.aut_zl_tu{
	height:torem(260);
	background:#fff;
	border-bottom:1px solid #c8c7cc;
	padding-top: torem(39);
	margin-bottom: torem(27);
}
.aut_zl_t{
	width:torem(180);
	height:torem(181);
	position: relative;
	margin: 0 auto;
}
.aut_zl_t img{
	width:torem(180);
	height:torem(181);
	border-radius: torem(100);
}
.aut_zl_t span{
	width: torem(45);
	height:torem(45);
	position: absolute;
	top:torem(155);
	left:torem(66)

}
.aut_zl_t span img{
	width: torem(45);
	height:torem(45);
}
.aut_zl_bd{
	height:torem(628);
	border-top: 1px solid #c8c7cc;
	border-bottom:1px solid #c8c7cc;
	background:#fff;
	margin-bottom: torem(30);
}
.aut_zl_blist1{
	margin-left:torem(22);
	padding-right: torem(22);
	font-size: torem(32);
}
.aut_zl_blist1 li{
	 height:torem(89);
	 border-bottom: 1px solid #c8c7cc;
	 line-height:torem(89);
	position: relative;
 }
.aut_zl_blist1 li label{
	display: block;
	height: 100%;
	position: absolute;
	top:0;
	left:0;

}
.aut_zl_blist1 li input{
	height:torem(85);
	font-size: torem(32);
	width: torem(676);
	text-align: right;
	float:left;
	padding-right:torem(14);
	color:#666;
}
.aut_zl_blist1 li input[type=file]{
	opacity: 0;
}
.aut_zl_blist1 li img{
	width:torem(17);
	float: right;
	padding-top:torem(27)
}
.aut_zl_blist1 li a{
	width: torem(36);
	position: absolute;
	right: 0;
	top:0;
	height:100%;

}
.aut_zl_blist1 li a img{
	width:torem(36);

}
.aut_zls li.curr1{
	border-top-right-radius:torem(10);
	border-bottom-right-radius:torem(10);
	background:#4baa2c;
	color:#fff;
	border:1px solid #4baa2c;
}
.aut_zl_bj_li{
	height:torem(268);
	border-top:1px solid #c8c7cc;
	border-bottom: 1px solid #c8c7cc;
	background:#fff;
	margin-bottom: torem(30);
}